body {
  margin: 0;
  padding: 0;
  background: #ffffff url("../images/graph-bg.jpg") 0 0;*/
  color: blue;
  font: 16px;
  line-height: 1.5;
  font-family: "Futura", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

header {
  background: rgba(255,255, 255, 0.3);
  width: 70%;
  border: 2px solid #8dd0ff;
  border-radius: 10px;
  padding: 20px 20px 15px 20px;
  margin: 10px 10px 25px 10px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 100, .7);
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 0px;
  font-family: "Futura", sans-serif;
  color: #eee;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: 1px;
  /*-webkit-font-smoothing: antialiased;*/
}

header h1:before {
  content: "";
  font-size: 24px;
}

header h2 {
  color: #eee;
  font-size: 18px;
  font-weight: 300;
}


.boxes {
  border: 2px solid #8dd0ff;
  border-radius: 10px;
  padding: 10px;
  color: blue;
  background: #ffffff;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 100, .7);
  /*  -webkit-font-smoothing: antialiased;*/
}

#links {
  max-width: 400px;
  width: 80%;
  position: relative;
  top: 0px; left: 0px;
  z-index: 0;
  margin: 0 100px;
}

#bulletpoints {
  height: 200px;
  width: 50%;
  max-width: 400px;
  margin: 10px 10px 10px 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Lucida Console", Terminal, monospace;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Links
   a, a:hover, a:visited
*/

a, a:hover, a:visited {
  color: blue;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
